@import "~@blueprintjs/core/lib/css/blueprint.css";



body {
  margin-top: 0px;
  background-image: url("./images/pickupsoccer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}


header {
  width: 100%;
  background-color: rgba(45, 114, 210, 0.918);
  border-bottom-left-radius: 10px;
}

header h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
  margin-left: 20px;
  color: rgb(245, 245, 245);
}


h2 {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

hr {
  color: rgba(75, 75, 75, 0.836);
  border-style: dotted none none none;
  border-width: 5px;
  margin-top: 0px;
  margin-bottom: 14px;
  max-width: 30%;
}

p {
  max-width: 600px;
}

#groupForm {
  display: inline;
}

/* !------------------GROUP NOTE------------------! */
.note {
  position: relative;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 0px auto 25px auto;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  display: inline;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-right: 10px;
}


/* must make div parent have relative position. */
.delete-button { 
  position: absolute;
  float: right;
  color: rgba(45, 114, 210);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  right: -10px;
  border-radius: 5px;
}


.create-note {
  position: relative;
  width: 300px;
  margin: 30px auto 40px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.create-note input, .create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgba(45, 114, 210);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 20px
}

/* !------------------END GROUP NOTE------------------! */


.center {
  position: relative;
  display: flex;
  justify-content: center;
}

.standardDiv {
  margin-top: 40px;
  width: 340px;
}

.timeSelections select {
  margin-right: 5px;
  margin-bottom: 5px;
}

.viewGroup {
  margin-bottom: 30px;
}

.viewGroup p {
  font-weight: 600;
}


.colorBackground {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 10px;
}

.fullHeight {
  height: 100%;
}


.inputForm {
  max-width: 300px;
}

.inputForm input {
  width: 300px;
  height: 30px;
  border-width: 1px;
  padding-left: 8px;
}

.input {
margin-bottom: -1px;
}



